body{
    background:#f5f7fb;
    margin:0;
    padding:0;
}

.painel-esquerdo{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#f5f7fb;
    padding:40px;
}

.titulo-sistema{
    font-size:55px;
    font-weight:800;
    color:#1d2b64;
    text-align:center;
}

.subtitulo-sistema{
    font-size:20px;
    color:#666;
    text-align:center;
    max-width:600px;
    margin-top:20px;
}

.imagem-login{
    max-width:80%;
    margin-top:30px;
}

.painel-direito{
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f5f7fb;
}

.card-login{
    background:white;
    width:100%;
    max-width:500px;
    padding:40px;
    border-radius:25px;
    box-shadow:0 10px 30px rgba(0,0,0,0.10);
}

.icone-login{
    width:90px;
    height:90px;
    margin:0 auto 20px;
    border-radius:50%;
    background:#ece9ff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:40px;
}

.card-login h2{
    text-align:center;
    color:#1d2b64;
    font-weight:bold;
}

.texto-login{
    text-align:center;
    color:#666;
    margin-bottom:30px;
}

.btn-login{
    width:100%;
    height:55px;
    border:none;
    border-radius:12px;
    font-size:18px;
    font-weight:bold;
}

.rodape-login{
    text-align:center;
    margin-top:25px;
    color:#777;
    font-size:14px;
}

/* RESPONSIVO */

@media(max-width:768px){

    .titulo-sistema{
        font-size:35px;
    }

    .imagem-login{
        max-width:60%;
    }

    .card-login{
        margin:20px;
    }

}
/* ===========================
   DASHBOARD
=========================== */

.cards-dashboard{
    display:flex;
    flex-wrap:wrap;
    gap:25px;
    align-items: center; 
}

.card-curso{
    width:300px;
    min-height:180px;
    padding:25px;
    border-radius:18px;
    color:white;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    transition:.3s;
}

.card-curso:hover{
    transform:translateY(-5px);
}

.titulo-card{
    font-size:22px;
    font-weight:bold;
}

.numero-card{
    font-size:60px;
    font-weight:bold;
    margin-top:15px;
}

.texto-card{
    margin-top:10px;
    opacity:.9;
}

.bg-info{
    background:linear-gradient(135deg,#0d6efd,#4d94ff);
}

.bg-sucesso{
    background:linear-gradient(135deg,#198754,#42c78a);
}

.bg-alerta{
    background:linear-gradient(135deg,#fd7e14,#ffab5c);
}

.bg-roxo{
    background:linear-gradient(135deg,#6f42c1,#9b6cff);
}

.bg-vermelho{
    background:linear-gradient(135deg,#dc3545,#ff6b78);
}
/* ==========================
   TABELA DE ATIVIDADES
========================== */

.atividade{
    max-width:400px;
}

.acoes{
    white-space:nowrap;
    text-align:center;
}

.acoes .btn{
    margin:2px;
}

.table td{
    vertical-align:middle;
}